footer.page-footer {
    background-color: #FFF;
    text-align: center;
    padding: 0px;
}

.btn img, .btn-large img {
    vertical-align: middle;
    height: 32px;
}

#nav-mobile-button {
    display: inline-block;
}

#nav-mobile-button img {
    margin-top: 1em;
}
